.cl-red{
  color: #d73300;
}
.cl-font{
  color: #969696;
}
.g-button{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  button{
    width: 100%;
    height: 1rem;
    line-height:1rem;
    background-color: #e982b1;
    color: #fff;
    font-size: .26rem;
  }
}